.meetup-landing-page {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.landing-page-header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.landing-page-header-contents h2 {
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-size: 2.5rem;
}

.event-selector {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  padding: 0.2rem;
  color: gray;
}

.event-selector option {
  color: var(--dark-shade-color);
}

.landing-page-card-contents {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.meetup-card {
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 25rem;
  position: relative;
}

.event-type {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  font-weight: bold;
  border-radius: 0.25rem;
}

.meetup-card img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
}

.meetup-card p {
  color: var(--special-red-color);
  font-size: 1.2rem;
}

.meetup-card h3 {
  font-size: 2rem;
  text-transform: capitalize;
}
